* {
  box-sizing: border-box;
  font-family: "Bahnschrift";
  touch-action: pan-y;
}

body {
  background-color: #f5f7f8;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

a,
a:visited {
  color: #ffffff;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.horizontal-flex > * {
  margin: 0 2.5vw;
  text-decoration: underline;
}

#settings-header {
  margin: 2.5vh 5vw;
}

.settings-wrapper {
  display: flex;
  padding: 0 0 0 5vw;
}

.settings-wrapper > form h3 {
  margin: 0;
  height: min-content;
  align-self: center;
}

.settings-wrapper > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 2.17em;
}

.width-span {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  background-color: #344151;
  color: #ffffff;
  flex: 0 1 auto;
}

#board-queue-wrapper {
  background-color: #ffffff;
  min-height: 500px;
  flex: 1 1 auto;
  margin-top: 50px;
  padding: 0 5vw;
  overflow: hidden;
}

#remove-wrapper {
  background-color: #ff0000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: absolute;
  right: 0;
  height: 98%;
  width: 50%;
}

#archive-wrapper {
  background-color: #00cf0a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: absolute;
  left: 0;
  height: 98%;
  width: 50%;
}

.board-inner-wrapper {
  font-size: inherit;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #cccccc;
  /* transition: left 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94); */
}

.board {
  background-color: #8f6f4a;
  height: 40px;
}

.board-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
  min-width: 80vw;
  font-size: 24pt;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  background-color: #cccccc;
}

#footer > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#total-length,
#average-length {
  min-width: 10vw;
  padding-left: 1vw;
  background-color: #ffffff;
  margin-left: 0.5vw;
  text-align: right;
}
